body { 
      background: black !important; 
}

hr.footer { 
      border: 1px solid white; 
}

#logo { 
      opacity: 0.5; 
} 

#logo:hover { 
      opacity: 0.8; 
} 

#localNavbar { 
      opacity: 0.8; 
}

a { 
      text-decoration: none; 
} 
      
a:hover { 
      text-decoration: underline; 
}